{% extends "admin/index_new.html" %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="485" border="1"  class="table table-dark table-striped-columns">
    <tr style="color: #fff;background: #000">
      <th width="58" scope="col">sl no.</th>
      <th  scope="col">EQUATION</th>
      <th  scope="col">OPTIONS </th>
      <th  scope="col">CORRECT ANSWER</th>
      <th width="155" scope="col">&nbsp;</th>
    </tr>
      {% for i in abc %}
    <tr>
      <td>{{ forloop.counter }}</td>
      <td><img src="{{ i.equation }}" height="120" width="450" alt=""/></td>
      <td>OPTION A : {{ i.option_A }}
          <br>OPTION B : {{ i.option_B }}
          <br>OPTION C : {{ i.option_C }}
          <br>OPTION D : {{ i.option_D }} </td>
      <td>{{ i.correct_answer }} </td>
      <td>
      <p><a href="/delete_eqn/{{ i.id }}" onclick="return confirm('Are you sure?')" class="btn btn-danger">Delete</a></p></td>
    </tr>
      {% endfor %}
  </table>
</form>
</body>
</html>
{% endblock %}